@font-face {
	font-family: "caster";
	src: url(../font/Caster.otf);
}

@font-face {
	font-family: "montserrat";
	src: url(../font/font-montserrat/Montserrat-Regular.otf);
}

@font-face {
	font-family: "montserrat-b";
	src: url(../font/font-montserrat/MontserratAlternates-ExtraBold.otf);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: montserrat;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	background-color: #f3f4f5;
}

/* mAIN style */

/* .logo-header {
	font-family: "caster";
}

.logo-header h4 {
	font-size: 60px;
	padding-right: 10px;
}
.heart i{
	font-size:50px;
	Background:url("https://i.postimg.cc/nc4F5FM2/wave-1.png");
	-webkit-text-fill-color:transparent; 
	-webkit-background-clip:text;
	-webkit-text-stroke-width:3px;
	-webkit-text-stroke-color:#FF2A2A;
	background-size:cover;
	background-position-x:20%;
	background-position-y:100%;
	animation: mymove 10s infinite ; 
  }
  @keyframes mymove {
	50%{
	  background-position-x:100%;
	  
	}
  } */


img {
	width: 100%;
	height: inherit !important;
}

.content {
	position: relative;
}

.cover-photo {
	position: relative;
	background-image: url("../images/DSC02696.JPG");
	width: 100%;
	min-height: 100vh;
	filter: grayscale(0.1);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.quote-t p {
	text-transform: inherit;
	line-height: 1.7;
	font-size: 13.5px;
	color: #000;
}

.quote-t img {
	width: 15px;
	margin-right: 5px;
}

.sub-quote {
	position: relative;
}

.first-q {
	position: absolute;
	top: -5px;
	left: 2px;
}

.s-q {
	position: absolute;
    bottom: 12px;
    right: 12px;
}

.cover-content {
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	line-height: 1.2;
	color: #000;
}

.cover-content h2 {
	font-size: 35pt;
	font-weight: 800;
}

.bellow-content h4 {
	font-weight: 300;
}

.w-35v {
	width: 35%;
}

.cover-letter {
	font-size: 14px;
	font-weight: 400;
	padding-top: 50px;
	line-height: 1.5;
	text-align: justify;
}

.cover-letter p {
	font-weight: 600;
}

.top-cover {
	position: relative;
}

.top-cover::before {
	content: "";
	position: absolute;
	top: -8px;
	left: -8px;
	height: 150%;
	width: 37%;
	z-index: -1;
	opacity: 0.9;
	background-color: #e0d567;
}

.notice-section {
	position: fixed;
	width: 100%;
	z-index: 100;
	top: 40px;
	padding: 0 30px;
}

.notice-section p {
	color: #000;
	font-weight: 600;
	font-size: 12px;
	line-height: 1;
}

.mark {
	margin: 0 -0.4em;
	padding: 0.1em 0.4em;
	border-radius: 0.8em 0.3em;
	background: transparent;
	background-image: linear-gradient(to right,
			rgba(255, 225, 0, 0.1),
			rgba(255, 225, 0, 0.7) 4%,
			rgba(255, 225, 0, 0.3));
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

.whether-alert img,
.notice-alert img {
	width: 40px;
}

.notice-alert {
	animation-name: bell-ring;

	animation-duration: 2.5s;

	animation-iteration-count: infinite;
}

.section-title {
	color: #000;
	text-align: center;
	font-weight: 700;
	font-size: 20px;
	padding: 15px 0;
}

/*  count */


.time-machine {
	position: relative;
    padding: 30px 0px;
    background-color: #fff;
    border-radius: 20px;
    margin: 10px;
}

.time-machine::before, .time-machine::after {
	position: absolute;
	content: "";
	background-image: url("/assets/images/hoa_bg.png");
}

#timer {
	color: #F6F4F3;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-size: 0.7em;
	letter-spacing: 5px;
	/* padding-top: 35%; */
	font-weight: 700;
}

#timer p {
	font-family: "Montserrat", sans-serif;
	font-size: 13px;
}

.days,
.hours,
.minutes,
.seconds {
	display: inline-block;
	padding: 18px;
	width: 21%;
	border-radius: 10px;
}

.days {
	background: #9FB2A6;
}

.hours {
	background: #888B7A;

}

.minutes {
	background: #898D95;
}

.seconds {
	background: #E8E1DF;
	color: #183059;
}

.numbers {
	font-family: "Montserrat", sans-serif;
	color: #E4B0AC;
	font-size: 14px;
}

.white {
	position: absolute;
	background: #E5B2C1;
	height: 85px;
	width: 75px;
	left: 30%;
	top: 2%;
}

.white .triangle {
	border-bottom: 14px solid #E5B2C1;
}

.white .string {
	background: #E5B2C1;
	border: 1px solid #E5B2C1;
}

.red {
	position: absolute;
	background: #EF2F3C;
	left: 18%;
	top: 9%;
	height: 65px;
	width: 70px;
}

.red .triangle {
	border-bottom: 14px solid #EF2F3C;
}

.red .string {
	background: #EF2F3C;
	border: 1px solid #EF2F3C;
}

.blue {
	position: absolute;
	background: #276FBF;
	height: 80px;
	width: 80px;
	left: 60%;
	top: 5%;
}

.blue .triangle {
	border-bottom: 14px solid #276FBF;
}

.blue .string {
	background: #276FBF;
	border: 1px solid #276FBF;
}

.balloon {
	border: 1px solid #000;
	border-radius: 50% 50% 50% 50%/40% 40% 60% 60%;
	z-index: 2;
	animation: sway 10s infinite;
}

.eye {
	position: absolute;
	width: 7px;
	height: 7px;
	top: 40%;
	left: 22%;
	background: #000;
	border-radius: 50%;
}

.eye:after {
	content: "";
	left: 35px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #000;
	position: absolute;
}

.mouth {
	position: absolute;
	top: 45%;
	left: 43%;
	width: 7px;
	height: 7px;
	border-radius: 50%;
}

.happy {
	border: 2px solid;
	border-color: transparent #000 #000 transparent;
	transform: rotate(45deg);
}

.triangle {
	position: absolute;
	left: 40%;
	bottom: -10%;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
}

.string {
	position: absolute;
	height: 70px;
	width: 1px;
	left: 48%;
	top: 100%;
	z-index: -1;
}

.star {
	width: 20px;
	height: 20px;
	background: #F6F4F3;
	-webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.star-red {
	width: 30px;
	height: 30px;
	margin-left: 51px;
	margin-top: -5px;
	background: #EF2F3C;
	-webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

footer {
	position: fixed;
	bottom: 0;
	right: 0;
	text-transform: uppercase;
	padding: 10px;
	font-family: "Lato", sans-serif;
	font-size: 0.7em;
}

footer p {
	letter-spacing: 3px;
	color: #EF2F3C;
}

footer a {
	color: #F6F4F3;
	text-decoration: none;
}

footer a:hover {
	color: #276FBF;
}



/* Standard syntax */
@keyframes sway {
	0% {
		transform: rotate3d(0, 0, 1, calc(-1 * 3deg));
	}
	50% {
		transform: rotate3d(0, 0, 1, calc(1deg));
	}
	100% {
		transform: rotate3d(0, 0, 1, 3deg);
	}
}

@keyframes sway2 {
	30% {
		transform: rotate(3deg);
		transform-origin: 5px 8px;
	}

	60% {
		transform: rotate(-3deg);
		transform-origin: 5px 8px;
	}
}


@keyframes bord-pop {

	0% {

		transform: translate(-0%, -0%);

	}

	50% {

		transform: translate(-0%, -0%) scale(1.9);

		opacity: 0.1;

	}

	100% {

		transform: translate(-0%, -0%) scale(1.9);

		opacity: 0;

	}

}

@keyframes col {

	0% {

		transform: scale(1) translate(0, 0);

	}

	10% {

		transform: scale(1.1) translate(0, 0);

	}

	75% {

		transform: scale(1) translate(0, 0);

	}

	100% {

		transform: scale(1) translate(0, 0);

	}

}

@keyframes bell-ring {

	0% {

		transform: translate(-0%, -0%);

	}

	5%,
	15% {

		transform: translate(-0%, -0%) rotate(25deg);

	}

	10%,
	20% {

		transform: translate(-0%, -0%) rotate(-25deg);

	}

	25% {

		transform: translate(-0%, -0%) rotate(0deg);

	}

	100% {

		transform: translate(-0%, -0%) rotate(0deg);

	}

}

#mouse-scroll {
	style: block;
}

#mouse-scroll {
	position: fixed;
	margin: auto;
	left: 90%;
	bottom: 30px;
	-webkit-transform: translateX(-90%);
	z-index: 9999;
}

#mouse-scroll span {
	display: block;
	width: 5px;
	height: 5px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	transform: rotate(45deg);
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
	margin: 0 0 3px 5px;
}

#mouse-scroll .mouse {
	height: 21px;
	width: 14px;
	border-radius: 10px;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	border: 2px solid #000;
	top: 170px;
}

#mouse-scroll .down-arrow-1 {
	margin-top: 6px;
}

#mouse-scroll .down-arrow-1,
#mouse-scroll .down-arrow-2,
#mouse-scroll .down-arrow-3 {
	-webkit-animation: mouse-scroll 1s infinite;
	-moz-animation: mouse-scroll 1s infinite:
}

#mouse-croll .down-arrow-1 {
	-webkit-animation-delay: .1s;
	-moz-animation-delay: .1s;
	-webkit-animation-direction: alternate;
}

#mouse-scroll .down-arrow-2 {
	-webkit-animation-delay: .2s;
	-moz-animation-delay: .2s;
	-webkit-animation-direction: alternate;
}

#mouse-scroll .down-arrow-3 {
	-webkit-animation-delay: .3s;
	-moz-animation-dekay: .3s;
	-webkit-animation-direction: alternate;
}

#mouse-scroll .mouse-in {
	height: 5px;
	width: 2px;
	display: block;
	margin: 5px auto;
	background: #000;
	position: relative;
}

#mouse-scroll .mouse-in {
	-webkit-animation: animated-mouse 1.2s ease infinite;
	moz-animation: mouse-animated 1.2s ease infinite;
}

@-webkit-keyframes animated-mouse {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(6px);
		-ms-transform: translateY(6px);
		transform: translateY(6px);
	}
}

@-webkit-keyframes mouse-scroll {
	0% {
		opacity: 1;
	}

	50% {
		opacity: .5;
	}

	100% {
		opacity: 1;
	}
}

@keyframes mouse-scroll {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}

.flip-clock {
	text-align: center;
	perspective: 400px;
	margin: 20px auto;
  }
  .flip-clock *,
  .flip-clock *:before,
  .flip-clock *:after {
	box-sizing: border-box;
  }
  .flip-clock__piece {
	display: inline-block;
	margin: 0 5px;
  }
  .flip-clock__slot {
	font-size: 3vw;
	display: block;
	margin-top: 10px;
	color: #000;
	text-transform: lowercase;
  }
  .card {
	display: block;
    position: relative;
    padding-bottom: 1.2em;
    font-size: 10vw;
    line-height: 1.85;
  }
  .card__top,
  .card__bottom,
  .card__back::before,
  .card__back::after {
	display: block;
	height: 1.2em;
	color: #ccc;
	background: #222;
	padding: 0.25em 0.25em;
	border-radius: 0.15em 0.15em 0 0;
	backface-visiblity: hidden;
	transform-style: preserve-3d;
	width: 2em;
	transform: translateZ(0);
  }
  .card__bottom {
	color: #FFF;
	position: absolute;
	top: 50%;
	left: 0;
	border-top: solid 1px #000;
	background: #393939;
	border-radius: 0 0 0.15em 0.15em;
	pointer-events: none;
	overflow: hidden;
  }
  .card__bottom::after {
	display: block;
	margin-top: -1.2em;
  }
  .card__back::before,
  .card__bottom::after {
	content: attr(data-value);
  }
  .card__back {
	position: absolute;
	top: 0;
	height: 100%;
	left: 0%;
	pointer-events: none;
  }
  .card__back::before {
	position: relative;
	z-index: -1;
	overflow: hidden;
  }
  .flip .card__back::before {
	-webkit-animation: flipTop 0.3s cubic-bezier(0.37, 0.01, 0.94, 0.35);
			animation: flipTop 0.3s cubic-bezier(0.37, 0.01, 0.94, 0.35);
	-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
	transform-origin: center bottom;
  }
  .flip .card__back .card__bottom {
	transform-origin: center top;
	-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
	-webkit-animation: flipBottom 0.6s cubic-bezier(0.15, 0.45, 0.28, 1);
			animation: flipBottom 0.6s cubic-bezier(0.15, 0.45, 0.28, 1);
  }
  @-webkit-keyframes flipTop {
	0% {
	  transform: rotateX(0deg);
	  z-index: 2;
	}
	0%,
	99% {
	  opacity: 0.99;
	}
	100% {
	  transform: rotateX(-90deg);
	  opacity: 0;
	}
  }
  @keyframes flipTop {
	0% {
	  transform: rotateX(0deg);
	  z-index: 2;
	}
	0%,
	99% {
	  opacity: 0.99;
	}
	100% {
	  transform: rotateX(-90deg);
	  opacity: 0;
	}
  }
  @-webkit-keyframes flipBottom {
	0%,
	50% {
	  z-index: -1;
	  transform: rotateX(90deg);
	  opacity: 0;
	}
	51% {
	  opacity: 0.99;
	}
	100% {
	  opacity: 0.99;
	  transform: rotateX(0deg);
	  z-index: 5;
	}
  }
  @keyframes flipBottom {
	0%,
	50% {
	  z-index: -1;
	  transform: rotateX(90deg);
	  opacity: 0;
	}
	51% {
	  opacity: 0.99;
	}
	100% {
	  opacity: 0.99;
	  transform: rotateX(0deg);
	  z-index: 5;
	}
  }
  




.count-down {
	background-color: #f3f4f5;
	background-image: url(/assets/images/count-d.png);
    position: relative;
    padding: 120px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	
}
.bg-fl-top , .bg-fl-bt {
	position: absolute;
	width: 50%;
}
.bg-fl-top {
    overflow: hidden;
    transform: rotate(301deg);
    left: 0px;
}

.bg-fl-bt {
    overflow: hidden;
    transform: rotate(301deg);
    right: 0px;
}


.cover-photo svg {
	position: absolute;
	bottom: -2px;
}

/* slider */
.calendar-section {
	position: relative;
}
.calendar-slider .slick-dots {
	bottom: 10px;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li.slick-active {
    width: 50px;
    height: 13px;
}

.calendar-slider .slick-dots li button:before {
	background: #9EC8C3;
	content: "";
	width: 13px;
    height: 13px;
	border-radius: 100%;
	opacity: 0.8;
}

.calendar-slider .slick-dots li.slick-active button:before {
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 13px;
    border-radius: 10px;
}

.icon-controller {
	position: absolute;
	top: 0;
	width: 100%;
	cursor: pointer;
}

.icon-controller .arrow-prev {
    position: absolute;
    top: 30px;
    left: 40px;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
    cursor: pointer;
}

.icon-controller .arrow-prev span {
    display: block;
    width: 12px;
    height: 12px;
    border-bottom: 4px solid #E4B0AC;
    border-right: 4px solid #E4B0AC;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 3s infinite;
}

.icon-controller .arrow-prev span:nth-child(2) {
    animation-delay: -0.2s;
}

.icon-controller .arrow-prev span:nth-child(3) {
    animation-delay: -0.3s;
}

/* right */

.icon-controller .arrow-next {
    position: absolute;
    top: 20px;
    right: 40px;
    transform: translate(-50%, -50%);
    transform: rotate(270deg);
    cursor: pointer;
}

.icon-controller .arrow-next span {
    display: block;
    width: 12px;
    height: 12px;
    border-bottom: 4px solid #E4B0AC;
    border-right: 4px solid #E4B0AC;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 3s infinite;
}

.icon-controller .arrow-next span:nth-child(2) {
    animation-delay: -0.2s;
}

.icon-controller .arrow-next span:nth-child(3) {
    animation-delay: -0.3s;
}

/* garally photo */

.photo-garelly {
	overflow-x: scroll;
	padding: 50px 10px;
	padding-bottom: 20px;
	background-image: url("https://phuthuyxam11.github.io/save-the-date/assets/images/e197881975b2a3ecfaa3.jpg");
	background-size: cover;
	background-position: center;
}

#photo-garelly .section-title h3 {
	color: #fff;
}

#map-bg {
	padding: 50px 10px;
    background-repeat: no-repeat;
    background-image: url("https://phuthuyxam11.github.io/save-the-date/assets/images/0944d04590b739079903bd594cfae251.jpg");
    background-size: cover;
    background-position-y: 140px;
}

#qr-code {
	padding: 50px 15px;
}

#section-video {
	padding: 60px 0px;
}

.w-infinity {
	width: 1500px;
}


/* affect open image */

@keyframes item-start {
	0%   { transform: translate3d(-50%,0,0) scale(1); }
	100%  { transform: translate3d(-50%,0,0) scale(0.96); }
  }
  
  @keyframes item-bounce {
	0% { margin-top: 0 }
	75% { margin-top: -24px }
	100% { margin-top: 0 }
  }
  
  @keyframes item-collapse {
	0% { margin-top: 0 }
	75% { margin-top: 24px }
	100% { margin-top: 0 }
  }

  .overlay {
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0, 0.9); 
	overflow-x: hidden; 
	transition: 0.5s;
	opacity: 0.7;
	text-align: center;
	cursor: pointer;
  }
  


  .noscroll {
	overflow: hidden;
  }
  
  .app-container {
	position: relative;
	padding: 32px;
	box-sizing: border-box;
  }
  
  .item {
	/* position: absolute; */
	/* left: 50%; */
	/* width: calc(100% - 64px); */
	border-radius: 10px;
	overflow: hidden;
	transition: all 1s;
	background-color: #fff;
	/* transform: translate3d(-50%,0,0); */
	transition: top .225s, width .1s, height .1s;
	box-shadow: 0 8px 40px -4px rgba(0,0,0,0.14);
  }
  
  .close {
	display: none;
	position: absolute;
	top: 24px;
	right: 24px;
	width: 24px;
	height: 24px;
	line-height: 24px;
	border-radius: 50%;
	font-size: 1.6em;
	text-align: center;
	color: #fff;
	background-color: rgba(0,0,0,0.7);
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	z-index: 3;
	cursor: pointer;
  }
  
  .item-title {
	max-width: 311px; /* prevent line-breaks from changing (.item collapsed size) */
	padding: 24px 72px 24px 24px;
	box-sizing: border-box;
  }
  
  .item-title.absolute {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: #fff;
	z-index: 2;
  }
  
  .item-image {
	position: relative;
	overflow: hidden;
  }
  
  .item-image img {
	/* position: absolute; */
	/* top: 50%; */
	/* left: 50%; */
	width: 100vh;
	height: auto;
	/* transform: translate3d(-50%,-50%,0); */
  }
  
  .item-content {
	height: 0;
	opacity: 0;
	overflow: hidden;
	padding: 0;
	font-size: 0.94em;
	line-height: 1.5;
  }
  
  /* .item.start {
	animation: item-start .2s forwards;
  } */
  
  .item.active {
	overflow: scroll;
	z-index: 10;
    margin: 0 calc(2.5vh/2);
	height: 667px;
	transition: top .225s, width .2s, height .2s;
  }
  
  .item.active.bounce {
	animation: item-bounce .2s forwards;
  }
  
  .item.collapsing.bounce {
	animation: item-collapse .2s forwards;
  }
  
  .item.active .close {
	opacity: 1;
	visibility: visible;
  }
  
  .item.active .item-content {
	height: auto;
	overflow: auto;
	opacity: 1;
	transition: opacity .1s;
	padding: 32px 24px;
  }
  
  .item.active .item-title + .item-content {
	padding-top: 8px;
  }
  
  /* typography */
  h1,h2,h3,h4,h5,h6 {
	margin: 0 auto .8em;
  }
  .item h4 {
	font-size: 0.8em;
	font-weight: 700;
	text-transform: uppercase;
	color: #808080;
	margin-bottom: 0.2em;
  }
  .item-title.absolute h4 {
	color: #fff;
	opacity: 0.72;
  }
  .item h3 {
	font-size: 1.6em;
	font-weight: 700;
	margin-bottom: 0;
  }
  .item-content p {
	margin-top: 0;
	color: #808080;
  }
  .item-content p:last-child {
	margin-bottom: 0;
  }
  .item-content strong {
	color: #000;
  }



  #my-player {
	width: 100% !important;
  }


  .map-d {
	padding: 20px 0px;
	text-align: center;
	justify-content: center;
	display: flex;
  }

  .note-guider {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	color: #fff;
}

  .note-guider p {
	font-size: 10px;
	margin-left: 5px;
  }
  .note-guider img {
	width: 25px;
  }

  .rotate-right {
	rotate: 270deg;
  }
  
  .slick-dotted.slick-slider {
	margin-bottom: 0px;
  }

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}
  


/* media */
.notice-section {
	display: none;
}

@media only screen and (max-width: 599px) {
	.item.active {
		overflow: scroll;
		z-index: 10;
		width: 95%;
		margin: 0 calc(2.5vh/2);
		left: 50% !important;
		transform: translate(-50%);
		height: 667px;
		transition: top .225s, width .2s, height .2s;
	}
}


@media only screen and (min-width: 600px) {
	.content {
		max-width: 500px;
		margin: 0 auto;
		flex-flow: column;
		justify-content: center;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		border-radius: 10px;
		display: flex;
	}

	#mouse-scroll {
		width: 500px;
	}

	.notice-section {
		display: block;
		position: fixed;
		width: 500px;
		z-index: 100;
		top: 40px;
		padding: 0 30px;
	}

	body {
		line-height: 1;
		/* background-image: url("../images/bg.jpg"); */
		background-size: contain;
	}

	.card {
		font-size: 3vw;
	  }

	.flip-clock__slot {
		font-size: 1.5vw;
	}

	.quote-t p {
		font-size: 17.5px;
	}

	.item.active {
		overflow: scroll;
		z-index: 10;
		margin: 0 calc(2.5vh/2);
		left: 50% !important;
		transform: translate(-50%);
		height: 667px;
		transition: top .225s, width .2s, height .2s;
	}
}